@keyframes maskMove {
  from {
    -webkit-mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
  }
}//首页背景图切换动画

@keyframes ani1 {
  //@for $var from 0 through 10 {
  //     #{$var * 10}% {
  //       clip-path: inset(#{random(200)}px 0 #{random(200)}px 0);
  //     }
  //   }
  0%{
    clip-path: inset(3px 0 6px 0)
  }
  10%{
    clip-path: inset(71px 0 168px 0)
  }
  20%{
    clip-path: inset(56px 0 144px 0)
  }
  30%{
    clip-path: inset(21px 0 92px 0)
  }
  40%{
    clip-path: inset(25px 0 117px 0)
  }
  50%{
    clip-path: inset(100px 0 83px 0)
  }
  60%{
    clip-path: inset(175px 0 129px 0)
  }
  70%{
    clip-path: inset(165px 0 73px 0)
  }
  80%{
    clip-path: inset(66px 0 65px 0)
  }
  90%{
    clip-path: inset(59px 0 75px 0)
  }
  100%{
    clip-path: inset(2px 0 58px 0)
  }
}

@keyframes ani2 {
  //@for $var from 0 through 10 {
  //  #{$var * 10}% {
  //    clip-path: inset(#{random(200)}px 0 #{random(200)}px 0);
  //  }
  //}
  0%{
    clip-path: inset(4px 0 1px 0)
  }
  10%{
    clip-path: inset(50px 0 144x 0)
  }
  20%{
    clip-path: inset(93px 0 49px 0)
  }
  30%{
    clip-path: inset(188px 0 100px 0)
  }
  40%{
    clip-path: inset(143px 0 35px 0)
  }
  50%{
    clip-path: inset(71px 0 168px 0)
  }
  60%{
    clip-path: inset(32px 0 114px 0)
  }
  70%{
    clip-path: inset(100px 0 83px 0)
  }
  80%{
    clip-path: inset(2px 0 58px 0)
  }
  90%{
    clip-path: inset(26px 0 14px 0)
  }
  100%{
    clip-path: inset(127px 0 84px 0)
  }
}

@keyframes tik {
  from {
    transform: translateX(-50%) translateY(-7%);
  }
  to {
    transform: translateX(-50%) translateY(7%);
  }
}//首页下滑按钮抖动动画